@{
    Layout = "_Layout";
}

<div class="gridHeader">
  <div class="header">
    <ul class="menu">
      <li>
        <form class="form-inline" action="/action_page.php">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-success" type="submit">SEARCH</button>
        </form>
      </li>
      <li><a href='/'>HOME</a></li>
      <li><a href='/DIRECTIONS'>DIRECTIONS</a></li>
      <li><a href='/restaurants'>FOOD</a></li>
      <li><a href='/hikes'>HIKES</a></li>
      <li><a href='/login'>LOGIN</a></li>
    </ul>
  </div>
</div>
<div class="grid">

<div class="container">
  <h2>Where to hike before and after surfing (or instead?!)</h2>
  <hr>

  <div class="hikes">
    <div class="gridRest">
      <figure class="guide gridBoxRest">
        <h3>Shortsands Beach :: Cascade Head Trail</h3>
        <p>N 3 Rocks Rd, Otis, OR 97368</p>
        <img src="../img/ch1.jpg" alt="hummus" width="600px">
        <img src="../img/ShortSand.png" alt="map from beach to restaurant" width="600px">
        <p>distance: 6.3 mile | elevation: 1,381 feet</p>
        <p>Cascade Head Trail is a 6.3 mile moderately trafficked out and back trail located near Otis, Oregon that features a river and is rated as moderate. The trail offers a number of activity options and is best used from March until October.
      </figure>
      <figure class="guide gridBoxRest">
      <h3>Pacific City :: Neahkahnie Mountain</h3>
        <p>Oregon Coast Hwy, Nehalem, OR 97131</p>
        <img src="../img/neahMt.jpg" alt="burger" width="600px">
        <img src="../img/PacificPelican.png" alt="map from beach to restaurant" width="600px">
        <p>distance: 6.4 mile | elevation: 2,070 feet</p>
        <p>Oregon Coast Trail to Neahkahnie Mountain is a 6.4 mile moderately trafficked out and back trail located near Nehalem, Oregon that features beautiful wild flowers and is rated as moderate. The trail offers a number of activity options and is best used from March until November. Dogs are also able to use this trail but must be kept on leash.</p>
      </figure>
      <figure class="guide gridBoxRest">
      <h3>Indian Beach :: Clatsop Loop Trail</h3>
        <p>84318 Ecola Park Road, Seaside, Cannon Beach, OR 97110</p>
        <img src="../img/clatsopLoop1.jpg" alt="fish and chips" width="600px">
        <img src="../img/IndianToms.png" alt="map from beach to restaurant" width="600px">
        <p>distance 2.8 miles | elevation 784 feet</p>
        <p>Clatsop Loop Trail from Indian Beach is a 2.8 mile moderately trafficked loop trail located near Cannon Beach, Oregon that features beautiful wild flowers and is rated as moderate. The trail offers a number of activity options and is accessible year-round. Dogs are also able to use this trail but must be kept on leash.</p>
      </figure
      <hr>
      <div class= "footerRest">
        <h5>See what others are recommending or add a new hike:</h5>
        <br>
        <button><a href='/hikes/new'>Add a new hike</a></button>
        <br>

        @if (@Model.Count == 0)
        {
          <h3>No hikes have been added yet!</h3>
        }
        @foreach (var hike in Model)
        {
          <h3>@hike._hikeName</h3>
          <p>@hike._hikeAddress
          || @hike._hikeType</p>
          <p>@hike._hikeDescription</p>
          <hr>
        }

        <br>
      </div>
    </div>
  </div>
</div>
