@{
  Layout = "_Layout";
}


<h2>Comment: @Model["selectedComment"]._commentDescription</h2>
<hr />

@if (@Model["commentRestaurants"].Count != 0)
{
  <h4>Restaurants that do these services:</h4>
  <ol>
    @foreach (var restaurant in @Model["commentRestaurants"])
    {
      <li>@restaurant.GetRestaurantName()
      </li>
    }
  </ol>
}
<br>
<h4>Add a comment to this restaurant:</h4>

<form action='/comments/@Model["selectedComment"]._commentId/restaurants/new' method='post'>
  <label for='restaurantId'>Select a restaurant</label>
  <select id='restaurantId' name='restaurantId' type='text'>
    @foreach (var restaurant in @Model["allRestaurants"])
    {
      <option value='@restaurant._restaurantId'>@restaurant._restaurantName</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
<br>

<br>
<p><a href="/restaurants">Return to the list of restaurants</a></p>
